<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.PasswordDao">
    <resultMap id="resultMap" type="com.example.demo.entity.Password">
        <result column="website" property="website"/>
        <result column="application" property="application"/>
        <result column="account" property="account"/>
        <result column="password" property="accountPassword"/>
        <result column="owner" property="owner"/>
    </resultMap>
    <insert id="insert" parameterType="com.example.demo.entity.Password">
        insert into t_password (website, application,account, password, owner) values (#{website}, #{application}, #{account}, #{accountPassword}, #{owner})
    </insert>

    <select id="find" parameterType="com.example.demo.entity.Password" resultMap="resultMap">
        select * from t_password
        <trim prefix="where" prefixOverrides="and">
                <if test="website != null">
                    website like #{website}
                </if>
                 <if test="application != null">
                     application like #{application}
                 </if>
                    and owner = #{owner}
        </trim>
    </select>

    <update id="update" parameterType="com.example.demo.entity.Password">
        update t_password set account = #{account}, password = #{accountPassword}
        <trim prefix="where" prefixOverrides="and">
            <if test="website != null">
                website = #{website}
            </if>
            <if test="application != null">
                application = #{application}
            </if>
            and owner = #{owner}
        </trim>
    </update>
</mapper>